<div class="container">
  <div class="new">
  	<h1>Add a movie</h1>
    <div class="form">
      <%= simple_form_for(@movie) do |f| %>
      <%= f.input :title %>
      <%= f.association :movies %>
      <%= f.button :submit, class: 'btn btn-success' %>
      <% end %>
	  </div>
  </div>
   <%= link_to 'Home', lists_path, class: 'btn btn-primary' %>
</div>

